/* *{
    cursor: none;
} */

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 135px;
    text-align: center;
    margin: 150px 0 0 0;
    font-weight: 300;
    letter-spacing: 4px;
    z-index: 2;
}

.underheading{
    text-align: center;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 5px;
    font-weight: 500;
    font-size: 20px;
}

.underheading-wrapper{
    text-align: center;
}

.text-color{
    color: #fff;
}

.side-drawer{
    background-color: #292828;
    color: #fff;
}

.main-container{
    position: relative;
    height: 750px;
}

.main-container::after{
    content: "";
    background: linear-gradient(180deg, #00000012 70%, #181818 100%) ,url("../resources/head-container.jpg") no-repeat center center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 750px;
    background-size: cover;
    z-index: -1;
    opacity: 65;
}

.scroll-animation{
    position: relative;
    height: 100px;
    top: 100px;
}

.cursor{
    background: linear-gradient(to top left, #55005d, #9101cf);
    border-radius: 50%;
    height: 32px;
    width: 32px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
}

/* Skills Section */

.skill-section{
    padding: 100px 50px;
    align-items: center;
}

.sub-headings{
    font-family: 'poppins', sans-serif;
    font-weight: 300;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.skill-card-wrapper{
    display: flex;
    height: 600px;
    width: 85%;
    position: absolute;
    left: 7%;
    justify-content: center;
}

.skill-card{
    height: 500px;
    width: 27%;
    margin: 20px 20px;
    border-radius: 30px;
    background-color: #363636;
    box-shadow: 0px 1px 1px 0px rgba(141, 141, 141, 0.7),
                1px 1px 1px 0px rgba(141, 141, 141, 0.7),
                1px 1px 3px 0px rgba(141, 141, 141, 0.7),
                1px 1px 6px 0px rgba(141, 141, 141, 0.7);
    backdrop-filter: blur(14px);
    
}

.skill-card:hover{
    box-shadow: 0px 1px 2px 0px rgba(211, 211, 211, 0.73),
                1px 2px 4px 0px rgba(211, 211, 211, 0.73),
                2px 4px 8px 0px rgba(211, 211, 211, 0.73),
                2px 4px 16px 0px rgba(210, 17, 194, 0.73);

    opacity: 1;
}

.skill-animation{
    height: 25%;  
}

.skill-card-heading{
    display: flex;
    justify-content: center;
    font-family: 'poppins', sans-serif;
    font-size: 25px;
    font-weight: 100;
    letter-spacing: 1px;
}

.underline-custom{
    height: 10px;
    width: 50%;
    background-color: #9c27b0;
    position: absolute;
    left: 24%;
    top: 34%;
    z-index: -1;

}

.skill-content{
    font-family: 'Roboto Mono', monospace;
    padding: 10px 35px;
}

.quote{
    text-align: center;
    padding: 5px 30px;
}